* {
    margin: 0;
    box-sizing: border-box;
}
.fav-list {
    display: flex;
    flex-grow: 1;
    row-gap: 5px;
    flex-direction: column;
    margin:0 3rem;
    width:full;
}
.favItem {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 0px 40px;
}
.favItem img{
    height: 100px;
}